__pycache__
BRAIN/memory

*/__pycache__

.claude 

remotion-*

working_context_plan.md

tem_drafts
quen_tts.py
logs
*_test*
test

*.log
*.wav
*.docx

.env
.temp

hermes-agent-main
claude-code-main
gemini-cli-main
qwen-code-main

video
outputs

*.log

sofi-workspace

BRAIN/data
BRAIN/runtime
firebase-service-account.json